body {
  background-color: antiquewhite;
  font: 14px "Century Gothic", Futura, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content {
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  width: 600px;
}

